@model Repetit.Tasks.Task1.WebUI.Models.AddOptionModel
@using (Html.BeginForm("AddOption", "Orders"))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(p => p.OrderID)
    @Html.HiddenFor(p=>p.ProductID)
    @Html.HiddenFor(p=>p.OrderItemID)
    <div class="panel-body" style="height: 300px">
        <table width="80%">
            <tr><td><label>Опция:</label></td><td>@Html.DropDownListFor(p => p.OptionID, (SelectList)ViewBag.OptionID, "Выберите", new { @class = "form-control" })</td></tr>
            <tr height="20"><td colspan="2">@Html.ValidationMessageFor(p => p.OptionID)</td></tr>
            <tr height="20"><td colspan="2"></td></tr>
            <tr><td><label>Кол-во:</label></td><td>@Html.TextBoxFor(p => p.Number, new { @class = "form-control" })</td></tr>
            <tr height="20"><td colspan="2">@Html.ValidationMessageFor(p => p.Number)</td></tr>
            <tr height="20"><td colspan="2"></td></tr>
            <tr>
                <td colspan="2">
                    <div class="text-center">
                        <button class="btn btn-info">Добавить</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
}
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
