<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Администрирование заказов</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/treeTable/css/jquery.treeTable.css" rel="stylesheet" />
    <link href="~/Content/ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.js"></script>
    <script src="~/Scripts/jquery.ui.datepicker-ru.js"></script>
    <script src="~/Scripts/knockout-3.3.0.js"></script>
    <script src="~/Content/treeTable/js/jquery.treeTable.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Интернет-Магазин", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                     <li>@Html.ActionLink("Заказы", "Index", "Orders")</li>
                    
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Выход", "Logout", "Account")</li>
                        <li><span style="font-weight: bold; background: #444; display: inline-block; color: white; margin-top: 15px; margin-left: 100px; padding:1px 15px;">@User.Identity.Name.ToUpper()</span></li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <img id="loading" src="~/Content/img/loading.gif"/><hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ООО "Интернет-Магазин"</p>
        </footer>
    </div>

 @RenderSection("scripts", false)

</body>
</html>